@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-base;
  color: var.$text-color-base;
}

main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  @extend %padding-24;
}

h1,
h2,
h3 {
  margin-bottom: math.div(var.$gutter-base, 2);
}

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
