@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

#discounts {
    .row {
        &.discounts {
            #active-discounts,
            #inactive-discounts {
                .title {
                    margin-bottom: math.div(var.$gutter-base, 3.75);
                    font-size: math.div(var.$gutter-base, 2.5);
                    font-weight: 500;
                }
                .discount {
                    padding: math.div(var.$gutter-base, 3.333)
                        math.div(var.$gutter-base, 2);
                    box-shadow: 0px 0px math.div(var.$gutter-base, 19) 0px
                        var.$background-color-septenary;
                    border-radius: math.div(var.$gutter-base, 6);
                    margin-bottom: math.div(var.$gutter-base, 1.875);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .discount-name {
                        font-weight: 500;
                        font-size: math.div(var.$gutter-base, 3);
                        text-align: center;
                    }

                    .actions {
                        gap: 3px;
                        .edit {
                            i {
                                &.edit-btn {
                                    background-color: transparent;
                                    border: math.div(var.$gutter-base, 15) solid
                                        var.$background-color-novenary;
                                    border-radius: 50%;
                                    padding: math.div(var.$gutter-base, 6);
                                    color: var.$text-color-primary;
                                }
                            }
                        }

                        & > button {
                            &.delete-discount-btn {
                                padding: 0;
                                margin: 0;
                                border: 0;
                                outline: none;
                                background-color: transparent;
                                & > i {
                                    &.bx-trash {
                                        background-color: transparent;
                                        border: math.div(var.$gutter-base, 15)
                                            solid var.$background-color-novenary;
                                        border-radius: 50%;
                                        padding: math.div(var.$gutter-base, 6);
                                        color: var.$text-color-primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #active-discounts {
                .title {
                    color: var.$text-color-primary;
                }
                .discount-name {
                    color: var.$text-color-senary;
                }
            }
            #inactive-discounts {
                .title {
                    color: var.$text-color-tertiary;
                }
                .discount-name {
                    color: var.$text-color-quinary;
                }
            }
        }
    }
}
