@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.modal {
    font-size: 12px;
    .modal-title {
        font-size: 16px;
        font-weight: 500;
        color: #232221;
    }
    .modal-body {
        select {
            font-size: 12px;
            font-weight: 500;
            color: #c2c2c2;
            width: 100px;
            padding: 5px 32px 5px 10px;
            -webkit-appearance: none;
            appearance: none;
            background: white
                url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='15' height='15' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='grey'/></g></svg>")
                no-repeat;
            background-position: right 10px top 50%;
            border: 0.62px solid #c2c2c2;
            box-shadow: 0px 0px 1.872483253479004px 0px #c2c2c2;
            border-radius: 7px;
            cursor: pointer;
            option {
                font-weight: 600;
                color: #232221;
            }
        }
    }
    .modal-footer {
        & > button {
            background: linear-gradient(
                74.67deg,
                #8a8328 3.23%,
                rgba(138, 131, 40, 0) 367.48%
            );
            box-shadow: 0px 0px 1.8700000047683716px 0px #c2c2c2;
            color: white;
            border-radius: 8px;
            border: none;
            outline: none;
            padding: 5px 10px;
            font-weight: 600;
        }
    }
}
