@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

#reset-password {
    height: 100vh;
    background: linear-gradient(
        180deg,
        #ffdbdb 0.05%,
        #fdfdfd 93.1%,
        #fdfdfd 110.6%,
        #8a8328 152.03%
    );
    @extend %padding-24;
    & > .row {
        height: 100%;
        .col {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            .form {
                & > * {
                    margin-bottom: 16px;
                }

                form {
                    & > div {
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                        label {
                            font-weight: 500;
                            font-size: 12px;
                            color: #000000;
                            margin-bottom: 8px;
                            display: block;
                        }

                        input {
                            width: 100%;
                            border: 1px solid #a9a9a9;
                            outline: none;
                            border-radius: math.div(var.$gutter-base, 3.75);
                            padding: math.div(var.$gutter-base, 3) 12px;
                            background-color: transparent;
                            font-size: 12px;
                            color: #666560;
                            &[name="maintenance_guidelines"] {
                                font-weight: 500;
                            }
                        }

                        button[type="submit"] {
                            background-color: var.$text-color-primary;
                            color: var.$text-color-quaternary;
                            border-radius: math.div(var.$gutter-base, 3);
                            border: math.div(var.$gutter-base, 30) solid
                                var.$text-color-primary;
                            padding: math.div(var.$gutter-base, 4);
                            width: 100%;
                            font-size: math.div(var.$gutter-base, 2);
                            font-weight: 700;
                        }

                        & > div {
                            &.fdb {
                                color: red;
                                font-size: 10px;
                                display: block;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
    }
}
